Chart.lock
custom.yaml
postgresql-11.6.10.tgz
test*.yaml
*/*.tgz
*ignore*
charts/*/rendered/
charts/charts-main/.gitignore
charts/charts-main/.helmignore
charts/charts-main/LICENSE
charts/charts-main/README.md
charts/charts-main/.github/changelog-config.json
charts/charts-main/.github/workflows/ci-cd.yaml
charts/charts-main/charts/trino/Chart.yaml
charts/charts-main/charts/trino/README.md
charts/charts-main/charts/trino/values.yaml
charts/charts-main/charts/trino/ci/custom-values.yaml
charts/charts-main/charts/trino/templates/_helpers.tpl
charts/charts-main/charts/trino/templates/autoscaler.yaml
charts/charts-main/charts/trino/templates/configmap-catalog.yaml
charts/charts-main/charts/trino/templates/configmap-coordinator.yaml
charts/charts-main/charts/trino/templates/configmap-worker.yaml
charts/charts-main/charts/trino/templates/deployment-coordinator.yaml
charts/charts-main/charts/trino/templates/deployment-worker.yaml
charts/charts-main/charts/trino/templates/ingress.yaml
charts/charts-main/charts/trino/templates/NOTES.txt
charts/charts-main/charts/trino/templates/secret.yaml
charts/charts-main/charts/trino/templates/service.yaml
charts/charts-main/charts/trino/templates/serviceaccount.yaml
charts/trino/values.yaml
charts/trino/charts-main/.gitignore
charts/trino/charts-main/.helmignore
charts/trino/charts-main/LICENSE
charts/trino/charts-main/README.md
charts/trino/charts-main/.github/changelog-config.json
charts/trino/charts-main/.github/workflows/ci-cd.yaml
charts/trino/charts-main/charts/trino/Chart.yaml
charts/trino/charts-main/charts/trino/README.md
charts/trino/charts-main/charts/trino/values.yaml
charts/trino/charts-main/charts/trino/ci/custom-values.yaml
charts/trino/charts-main/charts/trino/templates/_helpers.tpl
charts/trino/charts-main/charts/trino/templates/autoscaler.yaml
charts/trino/charts-main/charts/trino/templates/configmap-catalog.yaml
charts/trino/charts-main/charts/trino/templates/configmap-coordinator.yaml
charts/trino/charts-main/charts/trino/templates/configmap-worker.yaml
charts/trino/charts-main/charts/trino/templates/deployment-coordinator.yaml
charts/trino/charts-main/charts/trino/templates/deployment-worker.yaml
charts/trino/charts-main/charts/trino/templates/ingress.yaml
charts/trino/charts-main/charts/trino/templates/NOTES.txt
charts/trino/charts-main/charts/trino/templates/secret.yaml
charts/trino/charts-main/charts/trino/templates/service.yaml
charts/trino/charts-main/charts/trino/templates/serviceaccount.yaml
.helm_ls_cache
./**/.DS_Store
*/.DS_Store
.DS_Store
__snapshot__
.vscode