apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    notifications.argoproj.io/subscribe.on-deployed.deploy-reporter: ""
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  name: devopstest-offload-feature21
spec:
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: mycarrier-helm
    helm:
      values: |
        applications:
          routetester:
            autoscaling:
              enabled: false
            deploymentType: deployment
            env:
              ENVIRONMENT:
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.namespace
            image:
              registry: mycarrieracr.azurecr.io
              repository: appstack/routetester
              tag: 25.46.527a4c8
            ports:
              http: 8080
            replicas: 2
            securityContext:
              readOnlyRootFilesystem: false
        deployment: deployment
        environment:
          dependencyenv: dev
          domainOverride:
            domain: example.com
            enabled: false
          name: feature21
        global:
          appStack: devopstest
          branch: integration
          commitDeployed: c7ad0b5
          dependencies:
            azureservicebus: false
            chargify: false
            clickhouse: false
            elasticsearch: false
            loadsure: false
            mongodb: false
            postgres: false
            redis: false
            redpanda: false
            sqlserver: false
          language: python
        jobs: []
        secrets:
          bulk: {}
          individual: []
          mounted: []
    repoURL: https://charts.mycarrier.dev
    targetRevision: 3.0.28-alpha2
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
      limit: 5
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - Validate=true
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=false
      - ServerSideApply=true
      - Replace=true
      - SkipDryRunOnMissingResource=true
