apiVersion: v1
kind: Service
metadata:
  name: {{ include "mongobetween.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mongobetween.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: mongo
      protocol: TCP
      name: mongo
    {{- if .Values.health.enabled }}
    - port: {{ .Values.service.healthPort }}
      targetPort: health
      protocol: TCP
      name: health
    {{- end }}
  selector:
    {{- include "mongobetween.selectorLabels" . | nindent 4 }}
