{{- $globalCtx := include "helm.context" $ | fromJson -}}
{{- range $appName, $appValues := .Values.applications }}
{{- $appContext := (merge (dict "appName" $appName "application" $appValues "ctx" $globalCtx) $) }}
{{- $fullName := include "helm.fullname" $appContext }}
{{- $baseFullName := include "helm.basename" $appContext }}
{{- $namespace := include "helm.namespace" $ }}
{{- $metaenv := include "helm.metaEnvironment" $ }}
{{- $envName := $.Values.environment.name | default "dev" -}}
{{- $istioConfig := dig "networking" "istio" dict $appValues }}
{{- $istioEnabled := true }}
{{- if and $istioConfig (hasKey $istioConfig "enabled") }}
{{- $istioEnabled = $istioConfig.enabled }}
{{- end }}
{{- $appIstioDisabled := dig "istioDisabled" false $appValues }}
{{- $serviceIstioDisabled := dig "service" "istioDisabled" false $appValues }}
{{- $renderServiceEntry := and $istioEnabled (not $appIstioDisabled) (not $serviceIstioDisabled) $metaenv (not (hasPrefix "feature" $envName)) }}
{{- if $renderServiceEntry }}
{{- $internalHost := printf "%s.%s.internal" $baseFullName $metaenv }}
{{- $httpPort := default 8080 (dig "ports" "http" nil $appValues) }}
---
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: {{ $fullName }}-internal
  namespace: {{ $namespace }}
  labels:
    {{ include "helm.labels.standard" $appContext | indent 4 | trim }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true,Prune=true
spec:
  hosts:
    - {{ $internalHost }}
  exportTo:
    - "*"
  location: MESH_INTERNAL
  ports:
    - number: {{ $httpPort }}
      name: http
      protocol: HTTP
  resolution: STATIC
  workloadSelector:
    labels:
      app.kubernetes.io/name: {{ include "helm.fullname" $appContext | trunc 63 | trimSuffix "-" }}
      app.kubernetes.io/instance: {{ include "helm.instance" $appContext | trunc 63 }}
{{- end }}
{{- end }}
