{{- $globalCtx := include "helm.context" $ | fromJson -}}
{{- range $appName, $appValues := .Values.applications }}
{{- $appContext := (merge (dict "appName" $appName "application" $appValues "ctx" $globalCtx) $) }}
{{- $fullName := include "helm.fullname" $appContext }}
{{- $namespace := include "helm.namespace" $ }}
{{- $metaenv := include "helm.metaEnvironment" $ }}
{{- $envName := $.Values.environment.name | default "dev" -}}
{{- $isDevEnv := eq $envName "dev" -}}
{{- $istioConfig := dig "networking" "istio" dict $appValues }}
{{- $istioEnabled := true }}
{{- if and $istioConfig (hasKey $istioConfig "enabled") }}
{{-   $istioEnabled = $istioConfig.enabled }}
{{- end }}
{{- $appIstioDisabled := dig "istioDisabled" false $appValues }}
{{- $serviceIstioDisabled := dig "service" "istioDisabled" false $appValues }}
{{- $renderServiceEntry := and $istioEnabled (not $appIstioDisabled) (not $serviceIstioDisabled) $metaenv (not (hasPrefix "feature" $envName)) }}
{{- if and $renderServiceEntry $isDevEnv }}
{{- $pluginName := printf "%s-envoy-wasm" $fullName }}
{{- $global := (get $.Values "global") | default (dict) }}
{{- $globalWasm := (get $global "wasmPlugin") | default (dict) }}
{{- $wasmDefaults := merge (dict "repository" "oci://mycarrieracr.azurecr.io/utilities/envoy_dev_fallback" "tag" "0.1.4" "imagePullSecret" "imagepull") $globalWasm }}
{{- $wasmRepo := $wasmDefaults.repository | default "oci://mycarrieracr.azurecr.io/utilities/envoy_dev_fallback" }}
{{- $wasmTag := $wasmDefaults.tag | default "" }}
{{- $wasmURL := $wasmRepo }}
{{- if $wasmTag }}
{{-   $wasmURL = printf "%s:%s" $wasmRepo $wasmTag }}
{{- end }}
---
apiVersion: extensions.istio.io/v1alpha1
kind: WasmPlugin
metadata:
  name: {{ $pluginName | trunc 63 | trimSuffix "-" }}
  namespace: {{ $namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "helm.fullname" $appContext | trunc 63 | trimSuffix "-" }}
      app.kubernetes.io/instance: {{ include "helm.instance" $appContext | trunc 63 }}
  phase: AUTHN
  priority: 0
  pluginName: envoy_dev_fallback
  url: {{ $wasmURL }}
{{- if $wasmDefaults.imagePullSecret }}
  imagePullSecret: {{ $wasmDefaults.imagePullSecret }}
{{- end }}
  pluginConfig:
    configuration: ""
{{- end }}
{{- end }}