name: Update README metadata

on:
  pull_request_target:
    branches:
      - master
      - main
    paths:
      - 'charts/*/values.yaml'

permissions:
  contents: write
  pull-requests: write

jobs:
  update-readme-metadata:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout readme-generator-for-helm
        uses: actions/checkout@v4
        with:
          repository: 'bitnami/readme-generator-for-helm'
          ref: '2.7.2'
          path: readme-generator-for-helm

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: readme-generator-for-helm/package-lock.json

      - name: Install readme-generator dependencies
        run: cd readme-generator-for-helm && npm install

      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          path: charts
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed files
        id: changed-files
        run: |
          URL="https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/files"
          files_changed_data=$(curl -s --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' -X GET -G "$URL")
          files_changed="$(echo "$files_changed_data" | jq -r '.[] | .filename')"
          charts_dirs_changed="$(echo "$files_changed" | xargs dirname | grep -o "charts/[^/]*" | sort | uniq || true)"
          echo "charts_changed<<EOF" >> "$GITHUB_OUTPUT"
          echo "$charts_dirs_changed" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Generate README files
        run: |
          charts_changed="${{ steps.changed-files.outputs.charts_changed }}"
          if [ -n "$charts_changed" ]; then
            for chart in ${charts_changed}; do
              echo "Updating README.md for ${chart}"
              readme-generator-for-helm/bin/index.js \
                --values "charts/${chart}/values.yaml" \
                --readme "charts/${chart}/README.md" \
                --schema "/tmp/schema.json"
            done
          else
            echo "No charts changed"
          fi

      - name: Commit and push README changes
        run: |
          cd charts
          if git status --porcelain | grep -q "README.md"; then
            git config user.name "$GITHUB_ACTOR"
            git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
            git add **/README.md
            git commit -m "Update README.md with readme-generator-for-helm" --signoff
            git push
          else
            echo "No README.md changes to commit"
          fi